* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(/pictures/kassettebackground.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  border-radius: 50%;
  width: 120px;
  cursor: pointer;
  height: 50px;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;

}
.navbar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}

.content {
  width: 100%;
 position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1 {
    font-family: 'Inder', sans-serif;
  font-size: 70px;
  margin-top: 80px;
}
.content p {
    border: -2px  #000000;
    background-color: #00000045;
    border-radius: 0;
    padding: 40px 20px;
    border-radius: 50%;
    font-family: 'Inder', sans-serif;
    font-size: 30px;
  margin: 1px 500px;
  font-weight: 50;
  line-height: 25px;
}
em{
    color: rgb(53, 255, 27);
}
button{
    width: 200px;
    padding: 10px ;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bolder;
    border: 2px solid #009687;
    background: #00968749 ;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
}
span{
    background: #009687;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}



